body{
  width:100%;
  margin:0 auto;
}
.contentBox{
  min-width:100%;
  background-color: #e1e1e1;
  overflow: hidden;
}
header{
  color:#fff;
  height:70px;
  width:100%;
  background-color:#444;
  display: flex;
  justify-content:space-between;
  align-items:center;
  font-size:18px
}
header a{
  text-decoration: none;
  color:#fff
}
header .back{
  margin-left:-7px;
}
header span{
  margin-right:35px
}
header img{
  width:120px;
  height:30px
}
section{
  margin:20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.artBox{
  width:70%;
  height:auto;
  padding:10px 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.artBox .tab{
  font-size: 25px;
  padding: 20px 0;
  font-weight: 800;
  border-bottom:1px solid #ccc
}
.artBox .collect{
  font-size: 16px;
  font-weight: normal;
  color:#fff;
  line-height: 30px;
  float: right;
  text-align: center;
  width:50px;
  height: 30px;
  background-color: #80bd01;
  border-radius: 5px
}
.artBox .collect:hover{
  cursor:pointer
}
article img{
  width:100%
}
.artReply{
  margin:20px 0;
  width:70%;
  font-size: 14px;
  padding:10px 20px;
  background-color:#fff;
}
 .reply{
  border-bottom:1px dashed #ccc
}
 .reply::after{
  content: '';
  clear: both;
  height: 0;
  display: block
}
.artReply .repHeader{
  padding:10px 0;
  font-weight:bold;
  border-bottom:1px solid #ccc
}
.reply img{
  width:30px;
  height:30px;
  border-radius: 10px;
  padding: 5px;
  float:left
}
.reply .repMsg{
  line-height: 30px
}
.reply .contentMsg{
  line-height: 20px;
  text-indent:32px;
  font-size: 14px;
}
@media (max-width:700px){
  header{
    width:100%
  }
  section{ 
    padding:0 20px;
    margin:0
  }
  section .artBox,.artReply{ 
    width:100%
  }
}
